.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 10rem;
}


.card {
    background-color: white;
    padding: 1rem;
    width: 400px;
    height: 650px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 300px 300px 30px 30px;
    box-shadow: var(--shadow-card);
    padding: 2rem 2rem 2rem 2rem;
}

.card h3 {
    color: var(--accent-color);
}

.photoPortrait {
    width: 18rem;
    height: 18rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    border-radius: 20rem;

}

.photoPortrait img {
    width: auto;
    height: 105%;
}