body {
    background-color: var(--background-color);
}


.destinationForTravel .travelBlock {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
  margin-left: 15%;
}

.destinationForTravel .imgTravel {
/* display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
border: solid 3px black; */
overflow: hidden;
/* tout en 30 */

}

.destinationForTravel h1, .titleTravel, .taglineTravel, .lethalTravel, .journeyTravel, .descriptionTravel {
    text-align: center;
    margin-bottom: 10px;
}

.destinationForTravel .titleTravel {
    text-decoration: underline;
}

.destinationForTravel .taglineTravel {
    font-style: italic;
}

.destinationForTravel .lethalTravel {
    color: var(--secondary-color-1);
}


